{{! template-lint-disable }}

<div class="navbar">
  <LinkTo @route='index' class='navbar-brand'>
    <img src='images/ember-logo.png' alt=''>
    <span>Attr Validations</span>
  </LinkTo>
</div>
<div class="top-nav">
  <ul>
    <li>
      <LinkTo @route="demo">Example 1 (ListenErrors component)</LinkTo>
    </li>
    <li>
      <LinkTo @route="demo2">Example 2 (handler events)</LinkTo>
    </li>
    <li>
      <LinkTo @route="demo3">Example 3 (grouped errors)</LinkTo>
    </li>
  </ul>
</div>
<div class='content'>
  {{outlet}}
</div>
