<nav class="navbar navbar-light">
  <div class="container">
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <LinkTo @route="index" class="nav-link" data-test-nav-home>Home</LinkTo>
        <LinkTo @route="settings" class="nav-link" data-test-nav-home>Settings</LinkTo>
        <LinkTo @route="article" class="nav-link" data-test-nav-home>Article</LinkTo>
        <LinkTo @route="sandbox" class="nav-link" data-test-nav-home>Sandbox</LinkTo>
      </li>
    </ul>
  </div>
</nav>